.signatureForm {
  max-width: 800px;
  min-height: calc(100vh - 72px - 88px); /* 72px header 44 px footer */
  width: 100%;
  margin: 0 auto;
  padding: 16px;
}

.signatureForm_textarea {
  min-width: 300px;
  width: 100%;
}

.signatureForm_input,
.signatureForm_textarea {
  font-size: 1rem;
}

.signatureForm_buttonGroup {
  display: flex;
  gap: 0.5rem;
}

.signatureForm_buttonGroup.flexEnd {
  justify-content: flex-end;
}

.signatureForm_hr {
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.signatureForm_code {
  word-break: break-all;
}

.signatureForm_code,
.signatureForm_summary {
  margin-bottom: 1rem;
}
